/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'Helvetica Bold';
  src: url("../fonts/Helvetica-Bold.eot");
  src: url("../fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Bold.woff2") format("woff2"), url("../fonts/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Light';
  src: url("../fonts/Helvetica-Light.eot");
  src: url("../fonts/Helvetica-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Light.woff2") format("woff2"), url("../fonts/Helvetica-Light.woff") format("woff"), url("../fonts/Helvetica-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LightOblique';
  src: url("../fonts/Helvetica-LightOblique.eot");
  src: url("../fonts/Helvetica-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-LightOblique.woff2") format("woff2"), url("../fonts/Helvetica-LightOblique.woff") format("woff"), url("../fonts/Helvetica-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* Generated by Glyphter (http://www.glyphter.com) on  Mon Apr 16 2018*/
@font-face {
  font-family: 'x';
  src: url("../fonts/x/x.eot");
  src: url("../fonts/x/x.eot?#iefix") format("embedded-opentype"), url("../fonts/x/x.woff") format("woff"), url("../fonts/x/x.ttf") format("truetype"), url("../fonts/x/x.svg#x") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='icon-']:before {
  display: inline-block;
  font-family: 'x';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-comma:before {
  content: '\0041'; }

.icon-comma2:before {
  content: '\0042'; }

.icon-facebook:before {
  content: '\0043'; }

.icon-google + :before {
  content: '\0044'; }

.icon-icon1:before {
  content: '\0045'; }

.icon-icon2:before {
  content: '\0046'; }

.icon-icon3:before {
  content: '\0047'; }

.icon-instagram:before {
  content: '\0048'; }

.icon-telegram:before {
  content: '\0049'; }

.icon-viber:before {
  content: '\004a'; }

.icon-vk:before {
  content: '\004b'; }

.icon-whatsapp:before {
  content: '\004c'; }

.animate-a {
  opacity: 0;
  transition: all 1s linear; }
  .animate-a.active {
    opacity: 1; }
.animate-b {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }
  .animate-b.active {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn; }

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.loader {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-perspective: 250;
  perspective: 250; }
  .loader-img {
    -webkit-animation: loading 2s infinite ease-in-out;
    animation: loading 2s infinite ease-in-out; }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn); } }
@keyframes loading {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  100% {
    -webkit-transform: rotateY(1turn);
    transform: rotateY(1turn); } }
body {
  min-width: 320px;
  font-family: 'Helvetica Light', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  box-sizing: border-box; }

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

*, *::before, *::after {
  box-sizing: inherit; }

section {
  width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.x-wp {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.header {
  width: 100%;
  color: #fff;
  background: #308ade; }
  .header-container {
    height: 914px;
    background: url("../img/bg1.jpg") top center; }
    .header-container-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 209px; }
      .header-container-top-logo {
        background: #fff;
        padding: 27px 76px;
        box-sizing: content-box;
        width: 153px;
        height: 62px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto; }
      .header-container-top-contacts {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        margin: 39px 0 0 106px; }
        .header-container-top-contacts-link {
          display: inline-block; }
          .header-container-top-contacts-link-svg {
            height: 36px; }
        .header-container-top-contacts-link:nth-child(1) {
          padding-right: 9px; }
        .header-container-top-contacts-link:nth-child(2) {
          padding-right: 14px; }
        .header-container-top-contacts-link:nth-child(3) {
          padding-right: 16px; }
        .header-container-top-contacts-link:nth-child(4) {
          padding-right: 22px; }
        .header-container-top-contacts-link:nth-child(5) {
          text-decoration: none;
          color: #fff;
          vertical-align: top;
          padding-top: 6px; }
      .header-container-top-button {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        color: #308ddf;
        background: #fff;
        border-radius: 35px;
        padding: 18px 28px 20px 22px;
        margin: 25px 0 0 58px; }
    .header-container-mdl {
      max-width: 700px;
      width: 100%;
      margin-left: 224px; }
      .header-container-mdl-h1 {
        font-family: "Helvetica Bold", sans-serif;
        font-size: 48px;
        margin-bottom: 30px; }

.a {
  width: 100%;
  background: #fafafa; }
  .a-container {
    height: 858px;
    position: relative;
    background: #fafafa; }
    .a-container-block {
      position: absolute;
      padding: 58px 0 75px 0;
      background: #fff;
      max-width: 1020px;
      width: 100%;
      bottom: 44px;
      left: 50%;
      margin-left: -510px;
      z-index: 99999; }
      .a-container-block-h3 {
        font-size: 36px;
        color: #39393a;
        max-width: 590px;
        width: 100%;
        margin: 0 auto 38px;
        text-align: center; }
      .a-container-block-h2 {
        font-family: "Helvetica LightOblique", sans-serif;
        color: #2b80e7;
        max-width: 410px;
        width: 100%;
        margin: 0 auto 33px;
        text-align: center;
        position: relative; }
      .a-container-block-h2:before {
        position: absolute;
        content: "";
        height: 43px;
        width: 43px;
        transform: rotate(180deg);
        top: -3px;
        left: -43px;
        background: url("../img/svg/comma-left.svg") no-repeat; }
      .a-container-block-h2:after {
        position: absolute;
        content: "";
        height: 43px;
        width: 43px;
        right: -65px;
        bottom: 2px;
        background: url("../img/svg/comma-left.svg") no-repeat; }
      .a-container-block-p {
        color: #39393a;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        text-align: center; }
      .a-container-block-p1 {
        margin-bottom: 52px; }
      .a-container-block-advantages-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 62px; }
        .a-container-block-advantages-list-item {
          width: 230px;
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
          order: 0;
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          -ms-flex-item-align: auto;
          -ms-grid-row-align: auto;
          align-self: auto; }
          .a-container-block-advantages-list-item-svg {
            height: 100px;
            margin-left: 67px;
            margin-bottom: 17px; }
          .a-container-block-advantages-list-item-p {
            font-family: "Helvetica Bold", sans-serif;
            color: #39393a;
            text-align: center; }
        .a-container-block-advantages-list-item:nth-child(1) {
          margin-left: 100px; }
        .a-container-block-advantages-list-item:nth-child(2) {
          margin-left: 75px; }
        .a-container-block-advantages-list-item:nth-child(3) {
          margin-left: 65px; }

.b {
  width: 100%;
  background: #3595ec; }
  .b-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .b-container-flex {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
      max-width: 720px;
      width: 100%; }
    .b-container-one {
      background: #3595ec;
      color: #fff;
      height: 1194px;
      padding-top: 68px; }
      .b-container-one-text {
        max-width: 460px;
        width: 100%;
        margin-left: 208px; }
        .b-container-one-text-h3 {
          font-size: 36px; }
        .b-container-one-text-h3_1 {
          margin-bottom: 40px; }
        .b-container-one-text-h3_2 {
          margin-left: 16px;
          margin-bottom: 40px; }
        .b-container-one-text-h2 {
          font-size: 36px;
          font-family: 'Helvetica LightOblique', sans-serif; }
        .b-container-one-text-h2_1 {
          margin-bottom: 40px;
          position: relative; }
          .b-container-one-text-h2_1-a1 {
            position: absolute;
            transform: rotate(180deg);
            height: 45px;
            width: 45px;
            left: -51px;
            top: -6px; }
          .b-container-one-text-h2_1-b1 {
            position: absolute;
            height: 45px;
            width: 45px;
            right: 56px;
            bottom: 1px; }
        .b-container-one-text-h2_2 {
          margin-bottom: 40px;
          margin-left: 16px;
          position: relative; }
          .b-container-one-text-h2_2-a1 {
            position: absolute;
            transform: rotate(180deg);
            height: 45px;
            width: 45px;
            left: -51px;
            top: -6px; }
          .b-container-one-text-h2_2-b1 {
            position: absolute;
            height: 45px;
            width: 45px;
            right: 51px;
            bottom: 3px; }
        .b-container-one-text-p {
          font-size: 24px; }
          .b-container-one-text-p b {
            font-weight: normal;
            font-family: "Helvetica Bold", sans-serif; }
        .b-container-one-text-p_1 {
          margin-bottom: 49px; }
        .b-container-one-text-p_2 {
          margin-left: 16px;
          line-height: 1.24; }
    .b-container-two {
      overflow: hidden; }
      .b-container-two-img {
        display: block; }
    .b-container-three {
      overflow: hidden; }
      .b-container-three-img {
        display: block; }
    .b-container-four {
      background: #3595ec;
      color: #fff;
      height: 1060px;
      padding-top: 68px; }
      .b-container-four-text {
        max-width: 520px;
        width: 100%;
        margin-left: 67px; }
        .b-container-four-text-h3 {
          font-size: 36px;
          margin-bottom: 40px; }
        .b-container-four-text-h2 {
          font-family: "Helvetica LightOblique", sans-serif;
          font-size: 36px;
          margin-bottom: 36px;
          position: relative; }
          .b-container-four-text-h2-i1 {
            position: absolute;
            transform: rotate(180deg);
            height: 45px;
            width: 45px;
            left: -52px;
            top: -6px; }
          .b-container-four-text-h2-i2 {
            position: absolute;
            height: 45px;
            width: 45px;
            right: 243px;
            bottom: 2px; }
        .b-container-four-text-p {
          font-size: 24px; }
        .b-container-four-text-p_1 {
          margin-bottom: 40px; }
        .b-container-four-text-p_2 {
          line-height: 1.25; }

.c {
  width: 100%;
  background: #65cd65; }
  .c-container {
    background: #65cd65;
    padding-top: 67px;
    padding-bottom: 67px;
    text-align: center; }
    .c-container-h3 {
      font-size: 36px;
      color: #fff;
      margin-bottom: 40px; }
    .c-container-button {
      color: #fff;
      background: #3595ec;
      border-radius: 35px;
      padding: 15px 30px 19px;
      display: inline-block; }

.d {
  width: 100%; }
  .d-container {
    padding-top: 62px;
    height: 1038px;
    background: #fff url("../img/bg2.jpg") no-repeat bottom; }
    .d-container-h3 {
      font-size: 36px;
      color: #39393a;
      text-align: center;
      margin-bottom: 59px; }
    .d-container-session {
      max-width: 505px;
      width: 100%;
      margin: 0 auto 100px;
      color: #2b80e7;
      font-size: 36px;
      font-family: "Helvetica LightOblique", sans-serif;
      position: relative; }
      .d-container-session-b1 {
        display: inline-block;
        width: 245px; }
        .d-container-session-b1-p {
          text-align: center;
          padding-left: 18px; }
      .d-container-session-b1:before {
        position: absolute;
        content: "";
        height: 45px;
        width: 45px;
        transform: rotate(180deg);
        top: -3px;
        left: 3px;
        background: url("../img/svg/comma-left.svg") no-repeat; }
      .d-container-session-b1:after {
        position: absolute;
        content: "";
        background: #3595ec;
        width: 2px;
        height: 70px;
        left: 244px;
        top: 6px; }
      .d-container-session-b2 {
        display: inline-block;
        width: 245px; }
        .d-container-session-b2-p {
          text-align: center;
          padding-right: 18px; }
      .d-container-session-b2:after {
        position: absolute;
        content: "";
        height: 43px;
        width: 43px;
        right: -15px;
        bottom: -5px;
        background: url("../img/svg/comma-left.svg") no-repeat; }
    .d-container-p {
      max-width: 980px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #39393a;
      padding-left: 12px; }

.e {
  width: 100%;
  background: #fafafa; }
  .e-container {
    background: #fafafa;
    height: 560px;
    padding-top: 72px; }
    .e-container-h3 {
      font-size: 36px;
      color: #39393a;
      text-align: center;
      margin-bottom: 35px; }
    .e-container-blocks {
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
      .e-container-blocks-b1, .e-container-blocks-b2 {
        max-width: 494px;
        width: 100%;
        background: #fff;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        color: #39393a;
        padding-top: 56px; }
      .e-container-blocks-b1 {
        border-top: 2px solid #b4e5b4;
        padding-bottom: 25px; }
        .e-container-blocks-b1-list {
          list-style: disc;
          padding-left: 61px; }
          .e-container-blocks-b1-list-item {
            max-width: 340px;
            width: 100%;
            margin-bottom: 30px; }
      .e-container-blocks-b2 {
        border-top: 2px solid #e67885;
        padding-bottom: 25px; }
        .e-container-blocks-b2-list {
          list-style: disc;
          padding-left: 69px; }
          .e-container-blocks-b2-list-item {
            max-width: 340px;
            width: 100%;
            margin-bottom: 30px; }

.f {
  width: 100%;
  background: #65cd65; }
  .f-container {
    background: #65cd65;
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 60px;
    text-align: center; }
    .f-container-text1 {
      max-width: 840px;
      width: 100%;
      margin: 0 auto 38px; }
      .f-container-text1-p1 {
        font-family: "Helvetica Bold", sans-serif;
        font-size: 36px;
        text-align: center;
        margin-bottom: 2px; }
      .f-container-text1-p2 {
        text-align: center;
        font-size: 36px; }
    .f-container-text2 {
      max-width: 670px;
      width: 100%;
      margin: 0 auto; }
      .f-container-text2-p1 {
        font-family: "Helvetica Bold", sans-serif;
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px; }
      .f-container-text2-button {
        color: #fff;
        background: #3595ec;
        border-radius: 35px;
        padding: 15px 30px 19px;
        display: inline-block; }

.j {
  width: 100%;
  background: #3595ec; }
  .j-container {
    text-align: center;
    background: #3595ec; }
    .j-container-bl {
      max-width: 570px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      padding-top: 46px;
      padding-bottom: 70px; }
      .j-container-bl-logo {
        display: block;
        margin: 0 auto 45px; }
      .j-container-bl-p {
        margin-bottom: 37px; }
      .j-container-bl-bl-p {
        margin-bottom: 70px; }
        .j-container-bl-bl-p-p1 {
          padding-left: 96px;
          vertical-align: top; }
        .j-container-bl-bl-p-soc-link {
          display: inline-block; }
          .j-container-bl-bl-p-soc-link img {
            height: 26px; }
      .j-container-bl-button {
        color: #39393a;
        background: #fff;
        border-radius: 35px;
        padding: 15px 24px 19px 21px; }

.pop {
  max-width: 500px;
  width: 100%;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  transform: scale(0.8); }
  .pop-input, .pop-textarea {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 5px;
    margin: 0 0 25px;
    background: white no-repeat;
    background-image: linear-gradient(to bottom, #3595ec, #3595ec), linear-gradient(to bottom, silver, silver);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); }
    .pop-input.error, .pop-textarea.error {
      color: red;
      background-image: linear-gradient(to bottom, red, red), linear-gradient(to bottom, silver, silver);
      background-size: 100% 2px, 100% 1px; }
  .pop-btns {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .pop-btn {
    border: none;
    color: #fff;
    background: #3595ec;
    border-radius: 35px;
    padding: 15px 20px 19px;
    width: 45%;
    cursor: pointer; }
    .pop-btn.gray {
      background: #aeaeae; }
  .pop-input:focus, .pop-textarea:focus {
    /* sizes for the 2 images (focus state) */
    background-size: 100% 2px, 100% 1px;
    outline: none; }
  .pop.popup_visible {
    transform: scale(1); }

.show_on_submit {
  text-align: center;
  display: none; }

@media (max-width: 1440px) {
  .header-container-top-contacts {
    margin: 40px 0 0 60px; }
  .header-container-top-button {
    margin: 30px 0 0 40px; }

  .b-container-flex {
    width: 50%; }
  .b-container-one-text {
    margin-left: 100px; } }
@media (max-width: 1200px) {
  .header-container-top-logo {
    padding: 20px 30px; }
  .header-container-top-contacts {
    margin: 33px 0 0 25px; }
  .header-container-top-button {
    padding: 13px 20px 15px 20px;
    font-size: 18px;
    margin: 30px 0 0 25px; }
  .header-container-mdl {
    margin: 0 auto;
    text-align: center; }

  .a-container-block {
    position: static;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: auto; }

  .b-container-flex {
    max-width: 100%;
    width: 100%; }
  .b-container-one {
    height: auto;
    padding: 50px 0;
    max-width: 100%; }
    .b-container-one-text {
      margin-left: 0;
      max-width: 100%;
      text-align: center; }
      .b-container-one-text-h2_1 {
        padding: 0 40px;
        display: inline-block; }
        .b-container-one-text-h2_1-a1 {
          left: 0;
          top: 0;
          height: 25px;
          width: 25px; }
        .b-container-one-text-h2_1-b1 {
          right: 0;
          bottom: 0;
          height: 25px;
          width: 25px; }
      .b-container-one-text-h2_2 {
        padding: 0 40px;
        display: inline-block;
        margin-left: 0; }
        .b-container-one-text-h2_2-a1 {
          left: 0;
          top: 0;
          height: 25px;
          width: 25px; }
        .b-container-one-text-h2_2-b1 {
          right: 0;
          bottom: 0;
          height: 25px;
          width: 25px; }
  .b-container-two-img {
    width: 100%; }
  .b-container-three-img {
    width: 100%; }
  .b-container-four {
    height: auto;
    padding: 50px 0; }
    .b-container-four-text {
      max-width: 100%;
      margin-left: 0;
      text-align: center; }
      .b-container-four-text-h2 {
        padding: 0 40px;
        display: inline-block; }
        .b-container-four-text-h2-i1 {
          left: 0;
          top: 0;
          height: 25px;
          width: 25px; }
        .b-container-four-text-h2-i2 {
          right: 0;
          bottom: 0;
          height: 25px;
          width: 25px; } }
@media (max-width: 990px) {
  .header-container {
    height: 660px;
    background: url(../img/bg1.jpg) top center;
    background-size: cover; }
    .header-container-top-contacts {
      margin: 15px 0 0 25px;
      width: 100%; }
    .header-container-top-button {
      margin: 30px 0 0 0;
      width: 100%;
      text-align: center; }

  .a {
    height: auto; }
    .a-container {
      height: auto; }
      .a-container-block-advantages-list-item {
        width: 33.33%;
        text-align: center; }
        .a-container-block-advantages-list-item:nth-child(1), .a-container-block-advantages-list-item:nth-child(2), .a-container-block-advantages-list-item:nth-child(3) {
          margin: 0; }
        .a-container-block-advantages-list-item-svg {
          margin: 0 0 15px; }

  .e-container {
    height: auto; }
    .e-container-blocks-b1, .e-container-blocks-b2 {
      max-width: 100%; }
      .e-container-blocks-b1-list-item, .e-container-blocks-b2-list-item {
        max-width: 100%; } }
@media (max-width: 767px) {
  .header-container {
    height: auto; }
    .header-container-top {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 100px; }
      .header-container-top-contacts {
        order: 1;
        margin: 20px 0;
        text-align: center; }
      .header-container-top-button {
        margin: 0;
        width: auto; }
    .header-container-mdl {
      padding-bottom: 50px; }
      .header-container-mdl-h1 {
        font-size: 36px; }

  .a-container-block-h3 {
    font-size: 28px; }
  .a-container-block-advantages-list-item-p {
    font-size: 18px; } }
@media (max-width: 575px) {
  .header-container-top-logo {
    padding: 20px 30px;
    margin: 0 auto 20px; }
  .header-container-top-button {
    margin: 0 auto; }
  .header-container-mdl-h1 {
    font-size: 30px; }

  .a-container-block-h2 {
    padding: 0 20px; }
    .a-container-block-h2:before {
      top: 0;
      left: 0; }
    .a-container-block-h2:after {
      top: 0;
      right: 0; }
  .a-container-block-advantages-list-item {
    width: 100%; }
    .a-container-block-advantages-list-item:nth-child(1), .a-container-block-advantages-list-item:nth-child(2), .a-container-block-advantages-list-item:nth-child(3) {
      margin: 0 0 20px; }

  .b-container-one-text-h3 {
    font-size: 28px; }
  .b-container-one-text-h2 {
    font-size: 23px; }
  .b-container-one-text-p {
    font-size: 22px; }

  .c-container {
    padding-top: 60px;
    padding-bottom: 70px; }
    .c-container-button {
      padding: 15px 15px 19px;
      font-size: 20px; }
    .c-container-h3 {
      font-size: 28px; }

  .d-container {
    padding: 50px 0; }
    .d-container-session-b1, .d-container-session-b2 {
      width: 100%;
      text-align: center; }
    .d-container-session-b1-p {
      padding-left: 55px;
      text-align: right;
      padding-right: 20px; }
    .d-container-session-b1:after {
      display: none; }
    .d-container-session-b1:before {
      top: 0;
      left: 0; }
    .d-container-session-b2-p {
      padding-right: 55px;
      text-align: left;
      padding-left: 20px; }
    .d-container-session-b2:after {
      right: 0;
      bottom: 0; }

  .e-container-h3 {
    font-size: 32px; }
  .e-container-blocks {
    font-size: 20px; }
    .e-container-blocks-b1-list, .e-container-blocks-b2-list {
      padding-left: 35px; }

  .f-container-text1-p1 {
    margin-bottom: 10px; }
  .f-container-text1-p2 {
    font-size: 24px; }
  .f-container-text2-p1 {
    font-size: 30px; }

  .j-container-bl-button {
    font-size: 20px; }
  .j-container-bl-bl-p-p1 {
    padding: 30px 0 0;
    display: block; }
  .j-container-bl-bl-p-soc {
    display: block; } }

/*# sourceMappingURL=main.css.map */
