@import 'normalize';
@import 'fonts';
@import 'animations';



body {
  min-width: 320px;
  font-family: 'Helvetica Light', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.x-wp{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  color: #fff;
  background: #308ade;

  &-container {
    height: 914px;
    background: url("../img/bg1.jpg") top center;

    &-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin-bottom: 209px;

      &-logo {
        background: #fff;
        padding: 27px 76px;
        box-sizing: content-box;
        width: 153px;
        height: 62px;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
      }

      &-contacts {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        margin: 39px 0 0 106px;

        &-link {
          display: inline-block;

          &-svg {
            height: 36px;

          }
        }

        &-link:nth-child(1) {
          padding-right: 9px;
        }

        &-link:nth-child(2) {
          padding-right: 14px;
        }

        &-link:nth-child(3) {
          padding-right: 16px;
        }

        &-link:nth-child(4) {
          padding-right: 22px;
        }

        &-link:nth-child(5) {
          text-decoration: none;
          color: #fff;
          vertical-align: top;
          padding-top: 6px;
        }

      }

      &-button {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        color: #308ddf;
        background: #fff;
        border-radius: 35px;
        padding: 18px 28px 20px 22px;
        margin: 25px 0 0 58px;
      }

    }

    &-mdl {
      max-width: 700px;
      width: 100%;
      margin-left: 224px;

      &-h1 {
        font-family: "Helvetica Bold", sans-serif;
        font-size: 48px;
        margin-bottom: 30px;
      }

      &-p {

      }

    }

  }

}

.a {
  width: 100%;
  background: #fafafa;

  &-container {
    height: 858px;
    position: relative;
    background: #fafafa;

    &-block {
      position: absolute;
      padding: 58px 0 75px 0;
      background: #fff;
      max-width: 1020px;
      width: 100%;
      bottom: 44px;
      left: 50%;
      margin-left: -510px;
      z-index: 99999;

      &-h3 {
        font-size: 36px;
        color: #39393a;
        max-width: 590px;
        width: 100%;
        margin: 0 auto 38px;
        text-align: center;
      }

      &-h2 {
        font-family: "Helvetica LightOblique", sans-serif;
        color: #2b80e7;
        max-width: 410px;
        width: 100%;
        margin: 0 auto 33px;
        text-align: center;
        position: relative;
      }

      &-h2:before {
        position: absolute;
        content: "";
        height: 43px;
        width: 43px;
        transform: rotate(180deg);
        top: -3px;
        left: -43px;
        background: url("../img/svg/comma-left.svg") no-repeat;
      }

      &-h2:after {
        position: absolute;
        content: "";
        height: 43px;
        width: 43px;
        right: -65px;
        bottom: 2px;
        background: url("../img/svg/comma-left.svg") no-repeat;
      }

      &-p {
        color: #39393a;
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      &-p1 {
        margin-bottom: 52px;
      }

      &-advantages {

        &-list {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -ms-flex-line-pack: start;
          align-content: flex-start;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          margin-bottom: 62px;

          &-item {
            width: 230px;
            -webkit-box-ordinal-group: 1;
            -ms-flex-order: 0;
            order: 0;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -ms-flex-item-align: auto;
            -ms-grid-row-align: auto;
            align-self: auto;

            &-svg {
              height: 100px;
              margin-left: 67px;
              margin-bottom: 17px;
            }

            &-p {
              font-family: "Helvetica Bold", sans-serif;
              color: #39393a;
              text-align: center;

            }

          }

          &-item:nth-child(1) {
            margin-left: 100px;
          }

          &-item:nth-child(2) {
            margin-left: 75px;
          }

          &-item:nth-child(3) {
            margin-left: 65px;
          }

        }

      }

    }

  }

}

.b {
  width: 100%;
  background: #3595ec;

  &-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    &-flex {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
      max-width: 720px;
      width: 100%;
    }

    &-one {
      background: #3595ec;
      color: #fff;
      height: 1194px;
      padding-top: 68px;

      &-text {
        max-width: 460px;
        width: 100%;
        margin-left: 208px;

        &-h3 {
          font-size: 36px;

        }

        &-h3_1 {
          margin-bottom: 40px;
        }

        &-h3_2 {
          margin-left: 16px;
          margin-bottom: 40px;
        }

        &-h2 {
          font-size: 36px;
          font-family: 'Helvetica LightOblique', sans-serif;
        }

        &-h2_1 {
          margin-bottom: 40px;
          position: relative;

          &-a1 {
            position: absolute;
            transform: rotate(180deg);
            height: 45px;
            width: 45px;
            left: -51px;
            top: -6px;
          }

          &-b1 {
            position: absolute;
            height: 45px;
            width: 45px;
            right: 56px;
            bottom: 1px;
          }

        }

        &-h2_2 {
          margin-bottom: 40px;
          margin-left: 16px;
          position: relative;

          &-a1 {
            position: absolute;
            transform: rotate(180deg);
            height: 45px;
            width: 45px;
            left: -51px;
            top: -6px;
          }

          &-b1 {
            position: absolute;
            height: 45px;
            width: 45px;
            right: 51px;
            bottom: 3px;
          }

        }

        &-p {
          font-size: 24px;

          b {
            font-weight: normal;
            font-family: "Helvetica Bold", sans-serif;
          }
        }

        &-p_1 {
          margin-bottom: 49px;
        }

        &-p_2 {
          margin-left: 16px;
          line-height: 1.24;
        }

      }

    }

    &-two {
      overflow: hidden;

      &-img {
        display: block;
      }

    }

    &-three {
      overflow: hidden;

      &-img {
        display: block;
      }

    }

    &-four {
      background: #3595ec;
      color: #fff;
      height: 1060px;
      padding-top: 68px;

      &-text {
        max-width: 520px;
        width: 100%;
        margin-left: 67px;

        &-h3 {
          font-size: 36px;
          margin-bottom: 40px;
        }

        &-h2 {
          font-family: "Helvetica LightOblique", sans-serif;
          font-size: 36px;
          margin-bottom: 36px;
          position: relative;

          &-i1 {
            position: absolute;
            transform: rotate(180deg);
            height: 45px;
            width: 45px;
            left: -52px;
            top: -6px;
          }

          &-i2 {
            position: absolute;
            height: 45px;
            width: 45px;
            right: 243px;
            bottom: 2px;
          }

        }

        &-p {
          font-size: 24px;
        }

        &-p_1 {
          margin-bottom: 40px;

        }

        &-p_2 {
          line-height: 1.25;
        }

      }

    }

  }

}

.c {
  width: 100%;
  background: #65cd65;

  &-container {
    background: #65cd65;
    padding-top: 67px;
    padding-bottom: 67px;
    text-align: center;

    &-h3 {
      font-size: 36px;
      color: #fff;
      margin-bottom: 40px;
    }

    &-button {
      color: #fff;
      background: #3595ec;
      border-radius: 35px;
      padding: 15px 30px 19px;
      display: inline-block;
    }

  }

}

.d {
  width: 100%;

  &-container {
    padding-top: 62px;
    height: 1038px;
    background: #fff url("../img/bg2.jpg") no-repeat bottom;

    &-h3 {
      font-size: 36px;
      color: #39393a;
      text-align: center;
      margin-bottom: 59px;
    }

    &-session {
      max-width: 505px;
      width: 100%;
      margin: 0 auto 100px;
      color: #2b80e7;
      font-size: 36px;
      font-family: "Helvetica LightOblique", sans-serif;
      position: relative;

      &-b1 {
        display: inline-block;
        width: 245px;

        &-p {
          text-align: center;
          padding-left: 18px;
        }
      }

      &-b1:before {
        position: absolute;
        content: "";
        height: 45px;
        width: 45px;
        transform: rotate(180deg);
        top: -3px;
        left: 3px;
        background: url("../img/svg/comma-left.svg") no-repeat;
      }

      &-b1:after {
        position: absolute;
        content: "";
        background: #3595ec;
        width: 2px;
        height: 70px;
        left: 244px;
        top: 6px;
      }

      &-b2 {
        display: inline-block;
        width: 245px;

        &-p {
          text-align: center;
          padding-right: 18px;

        }
      }

      &-b2:after {
        position: absolute;
        content: "";
        height: 43px;
        width: 43px;
        right: -15px;
        bottom: -5px;
        background: url("../img/svg/comma-left.svg") no-repeat;

      }

    }

    &-p {
      max-width: 980px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      color: #39393a;
      padding-left: 12px;

    }
  }
}

.e {
  width: 100%;
  background: #fafafa;

  &-container {
    background: #fafafa;
    height: 560px;
    padding-top: 72px;

    &-h3 {
      font-size: 36px;
      color: #39393a;
      text-align: center;
      margin-bottom: 35px;

    }

    &-blocks {
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;

      &-b1, &-b2 {
        max-width: 494px;
        width: 100%;
        background: #fff;

        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
        color: #39393a;
        padding-top: 56px;

      }

      &-b1 {
        border-top: 2px solid #b4e5b4;
        padding-bottom: 25px;

        &-list {
          list-style: disc;
          padding-left: 61px;

          &-item {
            max-width: 340px;
            width: 100%;
            margin-bottom: 30px;
          }

        }

      }

      &-b2 {
        border-top: 2px solid #e67885;
        padding-bottom: 25px;

        &-list {
          list-style: disc;
          padding-left: 69px;

          &-item {
            max-width: 340px;
            width: 100%;
            margin-bottom: 30px;
          }

        }

      }

    }

  }

}

.f {
  width: 100%;
  background: #65cd65;

  &-container {
    background: #65cd65;
    color: #ffffff;
    padding-top: 47px;
    padding-bottom: 60px;
    text-align: center;

    &-text1 {
      max-width: 840px;
      width: 100%;
      margin: 0 auto 38px;

      &-p1 {
        font-family: "Helvetica Bold", sans-serif;
        font-size: 36px;
        text-align: center;
        margin-bottom: 2px;

      }

      &-p2 {
        text-align: center;
        font-size: 36px;

      }

    }

    &-text2 {
      max-width: 670px;
      width: 100%;
      margin: 0 auto;

      &-p1 {
        font-family: "Helvetica Bold", sans-serif;
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px;
      }

      &-button {
        color: #fff;
        background: #3595ec;
        border-radius: 35px;
        padding: 15px 30px 19px;
        display: inline-block;
      }

    }

  }

}

.j {
  width: 100%;
  background: #3595ec;

  &-container {
    text-align: center;
    background: #3595ec;

    &-bl {
      max-width: 570px;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      padding-top: 46px;
      padding-bottom: 70px;

      &-logo {
        display: block;
        margin: 0 auto 45px;

      }

      &-p {
        margin-bottom: 37px;
      }

      &-bl {

        &-p {
          margin-bottom: 70px;

          &-p1 {
            padding-left: 96px;
            vertical-align: top;
          }

          &-soc {

            &-link {
              display: inline-block;

              img {
                height: 26px;

              }

            }

          }

        }

      }

      &-button {
        color: #39393a;
        background: #fff;
        border-radius: 35px;
        padding: 15px 24px 19px 21px;
      }
    }

  }

}

.pop{
  max-width: 500px;
  width: 100%;
  padding: 25px;
  background: #fff;
  border-radius: 5px;
  transform: scale(0.8);


  &-input,
  &-textarea {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px 5px;
    margin: 0 0 25px;
    background: white no-repeat;
    background-image: linear-gradient(to bottom, #3595ec, #3595ec), linear-gradient(to bottom, silver, silver);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);


    &.error{
      color: red;
      background-image: linear-gradient(to bottom, red, red), linear-gradient(to bottom, silver, silver);
      background-size: 100% 2px, 100% 1px;
    }
  }


  &-btns{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &-btn{
    border: none;
    color: #fff;
    background: #3595ec;
    border-radius: 35px;
    padding: 15px 20px 19px;
    width: 45%;
    cursor: pointer;

    &.gray{
      background: #aeaeae;
    }
  }

  &-input:focus,
  &-textarea:focus{
    /* sizes for the 2 images (focus state) */
    background-size: 100% 2px, 100% 1px;
    outline: none;
  }

  &.popup_visible {
    transform: scale(1);
  }
}

.show_on_submit{
  text-align: center;
  display: none;
}





@import 'media';