@media (max-width: 1440px) {
  .header{
    &-container{
      &-top{
        &-contacts {
          margin: 40px 0 0 60px;
        }

        &-button {
          margin: 30px 0 0 40px;
        }
      }
    }
  }

  .b{
    &-container{
      &-flex {
        width: 50%;
      }

      &-one{
        &-text {
          margin-left: 100px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header{
    &-container{
      &-top{
        &-logo {
          padding: 20px 30px;
        }

        &-contacts {
          margin: 33px 0 0 25px;
        }

        &-button {
          padding: 13px 20px 15px 20px;
          font-size: 18px;
          margin: 30px 0 0 25px;
        }
      }

      &-mdl {
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .a{
    &-container{
      &-block {
        position: static;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        z-index: auto;
      }
    }
  }

  .b{
    &-container{
      &-flex {
        max-width: 100%;
        width: 100%;
      }

      &-one{
        height: auto;
        padding: 50px 0;
        max-width: 100%;

        &-text {
          margin-left: 0;
          max-width: 100%;
          text-align: center;


          &-h2_1 {
            padding: 0 40px;
            display: inline-block;

            &-a1 {
              left: 0;
              top: 0;
              height: 25px;
              width: 25px;
            }

            &-b1 {
              right: 0;
              bottom: 0;
              height: 25px;
              width: 25px;
            }
          }

          &-h2_2 {
            padding: 0 40px;
            display: inline-block;
            margin-left: 0;

            &-a1 {
              left: 0;
              top: 0;
              height: 25px;
              width: 25px;
            }

            &-b1 {
              right: 0;
              bottom: 0;
              height: 25px;
              width: 25px;
            }
          }
        }
      }

      &-two{
        &-img {
          width: 100%;
        }
      }

      &-three{
        &-img {
          width: 100%;
        }
      }

      &-four {
        height: auto;
        padding: 50px 0;

        &-text {
          max-width: 100%;
          margin-left: 0;
          text-align: center;


          &-h2 {
            padding: 0 40px;
            display: inline-block;

            &-i1 {
              left: 0;
              top: 0;
              height: 25px;
              width: 25px;
            }

            &-i2 {
              right: 0;
              bottom: 0;
              height: 25px;
              width: 25px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .header{
    &-container{
      height: 660px;
      background: url(../img/bg1.jpg) top center;
      background-size: cover;

      &-top{
        &-contacts {
          margin: 15px 0 0 25px;
          width: 100%;
        }

        &-button{
          margin: 30px 0 0 0;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .a{
    height: auto;

    &-container{
      height: auto;
      &-block{
        &-advantages{
          &-list{
            &-item {
              width: 33.33%;
              text-align: center;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3){
                margin: 0;
              }



              &-svg {
                margin: 0 0 15px;
              }
            }
          }
        }
      }
    }
  }

  .e{
    &-container{
      height: auto;

      &-blocks{
        &-b1, &-b2 {
          max-width: 100%;

          &-list {
            &-item {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header{

    &-container{
      height: auto;
      &-top{
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 100px;

        &-contacts {
          order: 1;
          margin: 20px 0;
          text-align: center;
        }

        &-button {
          margin: 0;
          width: auto;
        }
      }

      &-mdl{
        padding-bottom: 50px;

        &-h1 {
          font-size: 36px;
        }
      }
    }
  }



  .a{
    &-container{
      &-block{
        &-h3 {
          font-size: 28px;
        }

        &-advantages{
          &-list{
            &-item{
              &-p {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 575px) {
  .header{
    &-container{

      &-top{
        &-logo {
          padding: 20px 30px;
          margin: 0 auto 20px;
        }

        &-button {
          margin: 0 auto;
        }
      }

      &-mdl{
        &-h1 {
          font-size: 30px;
        }
      }
    }
  }

  .a{
    &-container{
      &-block{
        &-h2 {
          padding: 0 20px;

          &:before {
            top: 0;
            left: 0;
          }
          &:after {
            top: 0;
            right: 0;
          }
        }



        &-advantages{
          &-list{
            &-item {
              width: 100%;

              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3){
                margin: 0 0 20px;
              }
            }
          }
        }
      }
    }
  }

  .b{
    &-container{
      &-one{
        &-text{
          &-h3 {
            font-size: 28px;
          }

          &-h2 {
            font-size: 23px;
          }

          &-p {
            font-size: 22px;
          }
        }
      }
    }
  }

  .c{
    &-container{
      padding-top: 60px;
      padding-bottom: 70px;

      &-button {
        padding: 15px 15px 19px;
        font-size: 20px;
      }

      &-h3 {
        font-size: 28px;
      }
    }
  }

  .d{
    &-container{
      padding: 50px 0;

      &-session{
        &-b1, &-b2 {
          width: 100%;
          text-align: center;
        }

        &-b1{
          &-p {
            padding-left: 55px;
            text-align: right;
            padding-right: 20px;
          }

          &:after{
            display: none;
          }
          &:before{
            top: 0;
            left: 0;
          }
        }


        &-b2{
          &-p {
            padding-right: 55px;
            text-align: left;
            padding-left: 20px;
          }

          &:after{
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  .e{
    &-container{
      &-h3 {
        font-size: 32px;
      }

      &-blocks{
        font-size: 20px;

        &-b1, &-b2{
          &-list {
            padding-left: 35px;
          }
        }
      }
    }
  }

  .f{
    &-container{
      &-text1{
        &-p1 {
          margin-bottom: 10px;
        }
        &-p2 {
          font-size: 24px;
        }
      }

      &-text2{
        &-p1 {
          font-size: 30px;
        }
      }
    }
  }

  .j{
    &-container{
      &-bl{
        &-button {
          font-size: 20px;
        }

        &-bl-p{
          &-p1 {
            padding: 30px 0 0;
            display: block;
          }
          &-soc{
            display: block;
          }
        }
      }
    }
  }
}

